<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shopping List</name>
    <description>
        A Cordova application that allows an authenticated user the ability to create a personalized shopping list by adding products manually or by scanning them with their phone.
    </description>
    <author email="mastermindg@gmail.com" href="http://cordova.io">
        Mastermindg
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
